Repository deliveroo/yopass, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deliveroo/security-eng, @deliveroo/reviewers-prodeng-nec, @deliveroo/product-sec-eng

feat: [RL-1934] Remove RelEng & NEC teams as approvers for Hopper config changes (#60)
  CODEOWNERS
Owners: @deliveroo/security-eng

update hopper config for prod
  .hopper/config.yml
Owners: @deliveroo/reviewers-prodeng-nec

update hopper config for prod (#63)
  .hopper/config.yml
Owners: @deliveroo/reviewers-prodeng-nec

fix hopper config issue
  .hopper/production.yml
  .hopper/staging.yml
Owners: @deliveroo/reviewers-prodeng-nec

Fix hopper config (#64)
  .hopper/production.yml
  .hopper/staging.yml
Owners: @deliveroo/reviewers-prodeng-nec

rm old hopper config
  .hopper/config.yml
Owners: @deliveroo/reviewers-prodeng-nec

Fix hopper config (#65)
  .hopper/config.yml
Owners: @deliveroo/reviewers-prodeng-nec

remove prod app to fix hopper issue
  .hopper/config.yml
  .hopper/staging.yml
  infrastructure/environments/production/main.tf
Owners: @deliveroo/reviewers-prodeng-nec, @deliveroo/security-eng

remove prod app to fix hopper issue (#66)
  .hopper/config.yml
  .hopper/staging.yml
  infrastructure/environments/production/main.tf
Owners: @deliveroo/reviewers-prodeng-nec, @deliveroo/security-eng

remove prod hopper app to debug issue
  infrastructure/environments/production/providers.tf
  infrastructure/environments/production/variables.tf
  infrastructure/environments/production/versions.tf
Owners: @deliveroo/security-eng

Fixprod (#67)
  infrastructure/environments/production/providers.tf
  infrastructure/environments/production/variables.tf
  infrastructure/environments/production/versions.tf
Owners: @deliveroo/security-eng

update prod
  infrastructure/environments/production/migrations/20240830-migration.hcl
Owners: @deliveroo/security-eng

Fixprod (#68)
  infrastructure/environments/production/migrations/20240830-migration.hcl
Owners: @deliveroo/security-eng

rm prod infra to debug hopper config issue
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/migrations/20240830-migration.hcl
  infrastructure/environments/production/providers.tf
  infrastructure/environments/production/variables.tf
  infrastructure/environments/production/versions.tf
  infrastructure/modules/yopass/app.tf
Owners: @deliveroo/security-eng

Fixprod (#69)
  infrastructure/modules/yopass/app.tf
Owners: @deliveroo/security-eng

put back infra
  infrastructure/modules/yopass/app.tf
Owners: @deliveroo/security-eng

bump node version to fix build error
  Dockerfile
Owners: @deliveroo/security-eng

bump node version to fix build error (#71)
  Dockerfile
Owners: @deliveroo/security-eng

update prod infra and conflict
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/migrations/20240830-migration.hcl
  infrastructure/environments/production/providers.tf
  infrastructure/environments/production/variables.tf
  infrastructure/environments/production/versions.tf
  website/yarn.lock
Owners: @deliveroo/security-eng

bump node version to fix a build issue
  Dockerfile
Owners: @deliveroo/security-eng

bump node version
  Dockerfile
Owners: @deliveroo/security-eng

bump node version and update hopper config
  .hopper/config.yml
  Dockerfile
Owners: @deliveroo/reviewers-prodeng-nec, @deliveroo/security-eng

Seceng xxx/fix prod hopper deployment (#73)
  .hopper/config.yml
  Dockerfile
Owners: @deliveroo/reviewers-prodeng-nec, @deliveroo/security-eng

uncomment prod tf resources
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/migrations/20240830-migration.hcl
  infrastructure/environments/production/providers.tf
  infrastructure/environments/production/variables.tf
  infrastructure/environments/production/versions.tf
  infrastructure/modules/yopass/app.tf
Owners: @deliveroo/security-eng

lint tf
  infrastructure/modules/yopass/app.tf
Owners: @deliveroo/security-eng

Psc xxxx/fix prod (#74)
  infrastructure/environments/production/main.tf
  infrastructure/environments/production/migrations/20240830-migration.hcl
  infrastructure/environments/production/providers.tf
  infrastructure/environments/production/variables.tf
  infrastructure/environments/production/versions.tf
  infrastructure/modules/yopass/app.tf
Owners: @deliveroo/security-eng

Update README and trigger prod build to resolve Hopper issue
  README.md
Owners: @deliveroo/security-eng

Update README and trigger prod build to resolve Hopper issue (#75)
  README.md
Owners: @deliveroo/security-eng

fix conflicts since updating the branch
  go.mod
  go.sum
  website/package.json
  website/yarn.lock
Owners: @deliveroo/security-eng

remove duplicate toolchain statement
  go.mod
Owners: @deliveroo/security-eng

fix yaml lint issue
  .scorecard/config.yaml
Owners: @deliveroo/security-eng

fix yaml lint issue
  .scorecard/config.yaml
Owners: @deliveroo/security-eng

fix yaml lint issue
  .scorecard/config.yaml
Owners: @deliveroo/security-eng

Psc xxxx/redeploy prod app due to hopper issue (#76)
  .scorecard/config.yaml
  README.md
  cmd/yopass-server/main.go
  go.mod
  go.sum
  infrastructure/modules/yopass/app.tf
  pkg/server/server.go
  website/package.json
  website/yarn.lock
Owners: @deliveroo/security-eng

temp rm prod infra to fix a hopper issue
  infrastructure/modules/yopass/app.tf
Owners: @deliveroo/security-eng

.github/CODEOWNERS:

# Please include the (team) name of the codeowner(s) below following the syntax guidance in the github documentation for automatic peer reviewer assignment and ease to identify the owner
# Default codeowner in the line that starts with * and is the team that will be assigned to the code if no other codeowner is specified
# [github documentation](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners)
* @deliveroo/security-eng
/.hopper/ @deliveroo/reviewers-prodeng-nec # DO NOT MODIFY/REMOVE, AUTOGENERATED (#IM-2413)
**/codeql*.yml @deliveroo/product-sec-eng # DO NOT MODIFY/REMOVE, AUTOGENERATED by Product Security
**/dependency*.yml @deliveroo/product-sec-eng # DO NOT MODIFY/REMOVE, AUTOGENERATED by Product Security
secure-repo-setup.sh @deliveroo/product-sec-eng # DO NOT MODIFY/REMOVE, AUTOGENERATED by Product Security
